/* tailwind의 내부 스타일 레이어 반드시 서순 지켜주기! */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전역 배경색 및 폰트 색상 설정 */
:root {
  --background: #ffe8e8;
  --foreground: #171717;
}

/* 

시스템이 다크 모드일 경우 자동적용하게끔
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 
  
*/

@font-face {
    font-family: 'SUIT';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Sunshiney';
  src: url('./fonts/Sunshiney-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 위에서 설정한 변수로 받아오기 */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'SUIT';
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
